BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
ContinuationIndentWidth: 8
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: DontAlign
SortIncludes: false
ReflowComments: false
